<navigation></navigation>

Context&nbsp;<select ng-model="contextProject" ng-options="project.name for project in projects" ng-change = "updateContext();"></select>

<hr />

New unit <input type="text" placeholder = "1201" ng-model="unitNumber">
Bedrooms <input type="text" placeholder = "2" ng-model="unitBedrooms">
Bathrooms <input type="text" placeholder = "1" ng-model="unitBathrooms">
<button ng-click="save()">Create</button>

<hr />

Search: <input type="text" ng-model="search.number">
<ul>
	<li ng-repeat="unit in units | filter: search">
	
		#{{unit.number}}
		Beds: {{unit.bedrooms}}
		Baths: {{unit.bathrooms}}
		<button ng-click = "remove($index);">delete</button>
		
	</li>
</ul>